<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <body>
    <div class="appContainer">
      <%- include("partials/header") %>
      <main>
        <% if (locals.user) {%>
        <h1>WELCOME BACK <%= user.username %></h1>
        <a href="/log-out">LOG OUT</a>
        <% } else { %>
        <h1>Welcome to the Members Only Website</h1>
        <div class="signInBtns">
          <a href="/login"><button>Login</button></a>
          <a href="/sign-up"><button>Sign Up</button></a>
        </div>
        <%}%>
      </main>
    </div>
  </body>
</html>
