<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <body>
    <div class="appContainer">
      <%- include("partials/header") %>
      <main>
        <div class="formContainer">
          <h1>Login to your account</h1>
          <form action="/login" method="post">
            <div>
              <label for="email">Email: </label>
              <input type="email" name="email" id="email" required />
            </div>
            <div>
              <label for="password">Password: </label>
              <input type="password" name="password" id="password" required />
            </div>
            <button type="submit" class="submitBtn">Submit</button>
          </form>
        </div>
      </main>
    </div>
  </body>
</html>
